*, *::before, *::after { 
    box-sizing: border-box; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
:root {
    --hue: rgb(134, 134, 239);
    --btn-color: #e1addf;
}

body { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0; 
    margin: 0; 
    display: flex;
    width: 100vw;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    background-color: var(--hue)
}

.area { 
    width: 800px;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    
}

.btn-grid{ 
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px; 
    margin: 20 px 0; 
}

.btn {
    border: 1px solid var(--btn--color);
    background-color: var(--btn-color);
    border-radius: 5px; 
    padding: 5px 10px; 
    color: #ffffff;
    outline: none

}

.start-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px

}

.controls {
    display: flex;
    justify-content: center; 
    align-items: center
}

.hide{
    display: none
}


#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .highscoresView {
    margin-right: 1200px;
  }
  
  .timeLink {
    margin-left: 20px;
  }


header {
    padding: 40px; 
    text-align: center; 
}

nav {
    position: absolute;
    top: 0; 
    right: 0; 
}

.button:hover { 
    height: 40px; 
    padding: 13px;
    font-size: 18px;
    cursor: pointer; 
    border: none;
    color: #545632;
    border-radius: 7px;
    background: #007fff
}

